body{
    background-color: #11053d;
    font-family:'Courier New', Courier, monospace;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

.center{
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}

h1{
    color: #ffffff;
    font-size: 2rem;
}

.grid-1{
    background-color: #689ceb;
    color: #11053d;
    border-radius: 1rem;
    padding: 0.5rem 1rem; 
}

h2{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

p{
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.grid-2{
    color: #689ceb;    
    padding: 1rem 1.2rem;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.2rem;
    font-weight: 600;
    margin-left: 1.5rem;
}

.grid-3{
    color: #689ceb;
    padding: 1rem 1.2rem;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.2rem;
    font-weight: 600;
    margin-left: 1.5rem;
}

figcaption{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #11053d;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

.black{
    filter: sepia(100%) saturate(0%) brightness(0%);

}

.hint{
    color: #ffffff;
    font-size: 20px;
    margin-top: 3.5re,;
}

.grid-4{
background-color: #689ceb;
border-radius: 1rem;
padding: 1rem;
width: 420px;
height: 540px;
text-align: center;
}

.img-redu{
    width: 100px;
    height: 100px;
    padding: 1rem 0 1rem 1rem;
}

figure{
    background-color: #689ceb;
    border-radius: 1rem;
    width: 130px;
    height: 160px;
}

.project-image{
    width: 400px;
    height: 450px;
    border-radius: 1rem;
    margin-top: 1rem;
}

.project-text{
    margin-top: 0.5rem;
    font-size: 18px;
    font-weight: 600;
}

.project-link{
    background-color: #11053d;
    color: #689ceb;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 0.5rem;
}

.project-link:hover{
    background-color: #ffffff;
}

.input-row {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    display: row;
    width: 100%;
}

.input-row > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.input-row input{
    width: 80%;
    margin-right: 10px;
}

input, textarea{
    border-radius: 10px;
    border: 1px solid #689ceb;
    margin-left: 3px;
    margin-top: 1.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #11053d;
    color: #ffffff;
}

input:focus, textarea:focus{
    border: 1px solid #689ceb;
    outline: none;
}

input{
    height: 35px;
}

textarea{
    width: 80%;
    resize: vertical;
    height: 150px;
}

.submit-button{
    background-color: #689ceb;
    color: #11053d;
    border: none;
    border-radius: 8px;
    padding: 0.8rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1.5rem;
    margin-left: 130px;
    width: 50%;
    height: 40px;
}

.submit-button:hover{
    background-color: #ffffff;
    color: #11053d;
}

.contact-layer {
    width: 80%;
    margin-left: 0.8rem;
    padding: 1.5rem;
}

.end{ 
    margin: 0;
    text-align: center;
    height: 80px;
    width: 100%;
    padding: 0.5rem
    color: #11053d;
    background-color: #689ceb;
}

.icon-redu{
    height: 1.5rem;
    width: 1.5rem;
    padding-top: 0.8rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

a{
    text-decoration: none;
}

.end-text{
    font-weight: 400;
    padding-bottom: 0.8rem;
}

footer{
    width: 100%;
    height: 80px;
    margin: 0;
}





